#include "resource.h"

IDR_SHELLFOLDER REGISTRY "ShellFolder.rgs"

IDI_REPLACE ICON "..\\..\\assets\\shell\\replace.ico"
IDI_DELETE ICON "..\\..\\assets\\shell\\nuke.ico"
IDI_MOVE ICON "..\\..\\assets\\shell\\move.ico"
IDI_MULDOC ICON "..\\..\\assets\\shell\\muldoc.ico"
IDI_CAMERA ICON "..\\..\\assets\\shell\\camera.ico"
IDI_REBOOT ICON "..\\..\\assets\\shell\\reboot.ico"
IDI_RESERVED_207 ICON "..\\..\\assets\\shell\\placeholder.ico"
IDI_RESERVED_208 ICON "..\\..\\assets\\shell\\placeholder.ico"
IDI_RESERVED_209 ICON "..\\..\\assets\\shell\\placeholder.ico"
IDI_RESERVED_210 ICON "..\\..\\assets\\shell\\placeholder.ico"
IDI_RESERVED_211 ICON "..\\..\\assets\\shell\\placeholder.ico"
IDI_RESERVED_212 ICON "..\\..\\assets\\shell\\placeholder.ico"
IDI_RESERVED_213 ICON "..\\..\\assets\\shell\\placeholder.ico"
IDI_MAIN ICON "..\\..\\assets\\shell\\xbox.ico"
IDI_ADD_CONSOLE ICON "..\\..\\assets\\shell\\newcsl.ico"
IDI_CONSOLE ICON "..\\..\\assets\\shell\\console.ico"
IDI_CONSOLE_DEFAULT ICON "..\\..\\assets\\shell\\console-default.ico"
IDI_VOLUME ICON "..\\..\\assets\\shell\\volume.ico"
IDI_FOLDER ICON "..\\..\\assets\\shell\\folder.ico"
IDI_XBE ICON "..\\..\\assets\\shell\\xbe.ico"
